extends /blog/includes/Post.pug

block postDetails
    - let title = 'The Why Of Keep Kerala United'
    - let blogTitle = 'The Why Of Keep Kerala United'
    - let description = 'Explaining Why Keep Kerala United Is A Necessity In Our COVID Hit Kerala'
    - let postImage = '/blog/img/the-why-of-keep-kerala-united.jpg'
    - let postWebp = '/blog/img/the-why-of-keep-kerala-united.webp'
    - let altText = title

block blogContent
    p.
        Small businesses contribute to local economies
        immensely. They provide jobs, help fight Poverty
        and helps the local economy by keeping the money
        flow local. These small businesses took a
        massive hit when the country went into lockdown
        around six months ago. Most of them are drowning
        in these uncharted waters.
    p.
        Dried-out demand, the
        difficulty in communicating with existing
        customers, digital illiteracy are among the top
        issues faced by them. Keep Kerala United is a
        campaign to solve these problems for small
        businesses all across Kerala.
    p.
        Our team reached
        out to affected small businesses producing
        outstanding products and curated them into gift
        boxes that are available to buy from our
        website. The money from these gift boxes goes
        directly to these small businesses.
    p.
        The gift
        boxes contain products from categories of taste,
        art, lifestyle, skincare, baby items, drinks
        etc. The complete list of products is available
        on our website.

    p.
        When you buy a gift box, you can
        enjoy high-quality products that are locally
        sourced and carefully curated, while the small
        business you are buying from gets to enjoy a
        hand of support during this difficult time. And
        when this happens for enough people, we get to
        make an impact on our local economy.
        #1MillionSmilesKerala is our end goal. So when
        you buy a gift box, we get one step closer.
        Remaining is 1Million - 1. so be that one.
    p.
        Our
        team currently consists of founders, people
        working at top tech companies, people working at
        startups, people founding startups etc. and we
        are actively looking for people to volunteer for
        this campaign.
    p.
        Buy Local. Make Local. Support Local.
