extends /Post.pug

block postDetails
    - let title = 'വിദ്യാഭ്യാസവും കോവിഡും'
    - let blogTitle = 'വിദ്യാഭ്യാസവും കോവിഡും'
    - let description = 'ഇന്നീ മഹാമാരിയുടെ കാലത്ത് അനിശ്ചിതത്വത്തിൽ തുടരുന്ന അനേകം കാര്യങ്ങളിൽ സുപ്രധാനമായ ഒന്നാണ് നമ്മുടെ യുവതലമുറയുടെ വിദ്യാഭ്യാസം. സ്കൂളുകളും കോളേജുകളും അനിശ്ചിതകാലത്തേക്ക് അടച്ചിടേണ്ട അവസ്ഥ ഇന്ന് നിലനിൽക്കുന്നു.'

block blogContent

    p.
        ഇന്നീ മഹാമാരിയുടെ കാലത്ത് അനിശ്ചിതത്വത്തിൽ തുടരുന്ന അനേകം കാര്യങ്ങളിൽ സുപ്രധാനമായ ഒന്നാണ് നമ്മുടെ യുവതലമുറയുടെ വിദ്യാഭ്യാസം. സ്കൂളുകളും കോളേജുകളും അനിശ്ചിതകാലത്തേക്ക് അടച്ചിടേണ്ട അവസ്ഥ ഇന്ന് നിലനിൽക്കുന്നു. 
    p.
        ഈയൊരു സ്ഥിതിവിശേഷം ഏറ്റവും കൂടുതൽ ബാധിക്കുന്നവരുടെ കൂട്ടത്തിൽ സുപ്രധാനമാണ് സ്കൂളുകളിൽ നിന്നും മറ്റും കുട്ടികളെ വീട്ടിലെത്തിക്കാനായ് ഓടുന്ന വാഹനങ്ങളുടെ ഡ്രൈവർമാരും ഉടമകളും. നിരവധി ട്രാവലറുകളും ഓട്ടോറിക്ഷകളും വനുകളുമെല്ലാം ഇതിനായി മാത്രം ഓടിയിരുന്നു. അവരുടെ അവസ്ഥ ഇന്ന് പരിതാപകരമാണ്.
    p.
        സ്കൂൾ എന്നല്ല, ആളുകൾ കൂടിയുട്ടുള്ള ഏതൊരു പരിപാടിക്കും ഇന്ന് കടുത്ത നിയന്ത്രണങ്ങൾ നിലനിൽക്കുന്ന ഈ കാലഘട്ടത്തിൽ, ജീവിതമാർഗ്ഗം വഴിമുട്ടിയ ഈ മനുഷ്യരെയും നമുക്ക് സഹായിക്കേണ്ടതുണ്ട്. ഇത്തരത്തിൽ ഉള്ളവർക്ക് കൂടി സഹായമെത്തിക്കുക എന്നതാണ് Keep Kerala United എന്ന ക്യാമ്പയിൻ ലക്ഷ്യമിടുന്നത്. മഹാമാരിയുടെ സാഹചര്യത്തിൽ ദുരിതം അനുഭവിക്കുന്ന എല്ലാ വിഭാഗത്തിൽ പെട്ടയാളുകൾക്കും സഹായമെത്തിക്കുക എന്ന അന്തിമലക്ഷ്യമാണ് ഈ ക്യാമ്പയിൻ കൊണ്ട് നിറവേറ്റാൻ പോകുന്നത്. ഇതിന്റെ ഭാഗമാവാൻ എല്ലാവരോടും അഭ്യർത്ഥിക്കയാണ്.
