extends  /blog/includes/Post.pug

block postDetails
    - let title = 'സഹായിക്കാം കൂടെ നിർത്താം'
    - let description = 'ജീവിതത്തിൽ ഒഴിച്ചുകൂടാനാവാത്ത ഒട്ടനവധി മേഖലകളിൽ നാശനഷ്ടങ്ങൾ വരുത്തിവയ്ക്കുകയാണ് കോവിഡ് മഹാമാരി. ഈ സാഹചര്യത്തിൽ മാനുഷിക മൂല്യങ്ങളെ മുൻ നിർത്തി ഒപ്പമുള്ളവരെ കൂടെ നിർത്തേണ്ടത് നാമോരോരുത്തരുടേയും കടമയാണ്. നമ്മുടെ നാട്ടിലെ എല്ലാവരും മറ്റു ഭേദങ്ങളില്ലാതെ ഒറ്റക്കെട്ടായി ഏറ്റെടുക്കേണ്ട ക്യാമ്പയിൻ ആണ്  Keep Kerala United'
    - let blogTitle = 'സഹായിക്കാം കൂടെ നിർത്താം'
    - let postImage = '/blog/img/help.jpg'
    - let postWebp = '/blog/img/help.webp'
    - let altText = title

block blogContent
    p.
        ഈ കോവിഡ് കാലത്ത് നാം സ്ഥിരമായി കണ്ടുവരുന്ന കാഴ്ചകളിലൊന്നാണ് വലിയ വണ്ടികളിലും മറ്റും പലവിധ സാധനങ്ങൾ കൊണ്ടുവന്നു റോഡരികിൽ വിൽക്കുന്നത്. ഈ മഹാമാരിയുടെ കാലത്ത്, ജീവിതം വഴിമുട്ടിയ അനവധി ആളുകളിൽ ചിലരാണിവർ.
    p.
        കല്യാണം, ഗൃഹപ്രവേശനം എന്നിങ്ങനെയുള്ള പരിപാടികൾക്കൊക്കെ ആളുകളെ എത്തിക്കാനും മറ്റുമായി നിരത്തിലിറങ്ങുന്ന ബസുകൾ, ട്രാവലറുകൾ, ക്രൂയ്സർ വാനുകൾ കാറുകൾ എന്നിവരുടെ നടത്തിപ്പുകാർക്കും ഡ്രൈവർമാർക്കും നഷ്ടത്തിന്റെ കാലമാണിത്. സാമൂഹിക അകലം, ദൂരയാത്രകൾ ചെയ്യുന്നതിനുള്ള പരിമിതി, അനുദിനം രോഗം സ്ഥിരീകരിക്കുന്നവരുടെ എണ്ണം ക്രമാതീതമായി വളരുന്നത് എന്നിങ്ങനെയുള്ള പരിമിതികൾ ഇത്തരത്തിൽ ജീവിതം പുലർത്തുന്നവരുടെ സ്ഥിതി കൂടുതൽ അനിശ്ചിതാവസ്ഥയിൽ ആക്കുകയാണ് . 
    p.
        Keep Kerala United ക്യാമ്പയിൻ ന്റെ ഭാഗമായി ഇത്തരത്തിലുള്ളവർക്കു കൂടെ സഹായഹസ്തം എത്തിക്കേണ്ടതുണ്ട് എന്നത് അനിഷേധ്യമായ വസ്തുതയാണ്. കാമ്പയിനിന്റെ ഭാഗമാവുന്നതിലൂടെ ചെറുതല്ലാത്ത ഒരു സംഭാവന നമുക്ക് നൽകാൻ സാധിക്കുന്നു.
    p.
        ജീവിതത്തിൽ ഒഴിച്ചുകൂടാനാവാത്ത ഒട്ടനവധി മേഖലകളിൽ നാശനഷ്ടങ്ങൾ വരുത്തിവയ്ക്കുകയാണ് കോവിഡ് മഹാമാരി. ഈ സാഹചര്യത്തിൽ മാനുഷിക മൂല്യങ്ങളെ മുൻ നിർത്തി ഒപ്പമുള്ളവരെ കൂടെ നിർത്തേണ്ടത് നാമോരോരുത്തരുടേയും കടമയാണ്. നമ്മുടെ നാട്ടിലെ എല്ലാവരും മറ്റു ഭേദങ്ങളില്ലാതെ ഒറ്റക്കെട്ടായി ഏറ്റെടുക്കേണ്ട ക്യാമ്പയിൻ ആണ്  Keep Kerala United