.kku-footer.section
    p For any queries, please feel to contact
    a(href="mailto:keepkeralaunited@gmail.com") keepkeralaunited@gmail.com
    .footer-actions
        a.kku-actions-link(href="https://keepkeralaunited.typeform.com/to/pQOBXXfn") Register As A Volunteer
        a.kku-actions-link(href="https://keepkeralaunited.typeform.com/to/imhgampG")
            | Register Your Bussiness With Us
    .social
        a(href="https://instagram.com/keepkeralaunited")
            span.icon
                i.icon-instagram
        a(href="https://facebook.com/keepkeralaunited")
            span.icon
                i.icon-facebook-square
        a(href="https://twitter.com/KeepKerala")
            span.icon
                i.icon-twitter
        a(href="https://wa.me/918086857986")
            span.icon
                i.icon-whatsapp
        a(href="https://www.youtube.com/channel/UCCqEugYXGaDz3anULasIHeg")
            span.icon
                i.icon-youtube
    p.is-size-7 Made with ❤ in Kerala