.giveaway.page
    .container.is-fluid
        .giveaway-wrapper
            .giveaway-content
                .columns.is-centered.is-vcentered
                    .giveaway-left.column.is-4
                        h1.giveaway-title 
                            | Celebrate
                            span Small Businesses
                        p.giveaway-text
                            | Buy a Keep Kerala United Box And Win Prices Worth 
                            strong 5 Lakhs
                        button.giveaway-button
                            | Tell Me More
                    .giveaway-right.column.is-5
                        figure.image
                            img(src="/img/giveaway.png")