html {
	font-size: 25px;
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	/* background: #0a2540; */
}

.bottom-message {
	position: fixed;
	bottom: 0;
	z-index: 999;
	background: #165fdc;
	color: #fff;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.bottom-message-button {
	background: #fff;
	color: #000;
	padding: 0.3rem 1rem;
	border-radius: 0.1rem;
	margin-left: 1rem;
	font-weight: 700;
}

.bottom-message-button:hover {
	background: #fafafa;
}

.bottom-message .text {
	color: #fff;
	font-size: 0.7rem;
	margin-left: auto;
}

.bottom-message strong {
	color: #fff;
}

.bottom-message .close {
	margin-left: auto;
}

/* People Photos */

.people {
	display: flex;
	align-items: center;
	background: #f6f9fc;
}

.people-title {
	font-weight: bold;
}

.people-images .columns {
	overflow-x: scroll;
	align-items: center;
}

.people-images figure img {
	border-radius: 0.5rem;
}

.people-images figure {
	background: #edf0f2;
}

.people-images-header {
	margin-bottom: 3rem;
}

.footer-actions {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.footer-actions a {
	font-size: 0.7rem;
	margin-left: 1rem;
	color: #fff;
	margin: 0;
	text-decoration: underline;
}

.page {
	min-height: 100vh;
}
.landing {
	background: #fff;
}
.kku-title {
	font-family: 'Playfair Display', serif;
	line-height: 1.06;
	word-break: break-word;
}
.kku-title-size-1 {
	font-size: 3.2rem;
}
.kku-title-size-2 {
	font-size: 1.68rem;
	margin-bottom: 1rem;
}
.kku-title-size-3 {
	font-size: 1rem;
}
/* Landing Content */
.landing-content {
	display: flex;
	align-items: center;
}
.kku-paragraph {
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 400;
	margin-bottom: 1rem;
}
.kku-paragraph-lead {
	font-weight: 700;
}
.landing-content-description {
	max-width: 80%;
}
.landing-content-cta a {
	color: #fff;
	background: rgb(82, 113, 255);
	border: none;
	padding: 0.56rem 0.9rem;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
}
.landing-content-cta a:hover,
.buy-now:hover {
	color: #fff;
	background: hsl(229 100% 67% / 1);
}
.landing-content-title {
	margin-bottom: 1.52rem;
}
#landing-image {
	object-fit: fill;
}
.landing-content .right {
	align-items: center;
	margin-left: -3.6rem;
}
/* what's inside */

.whats-inside {
	background: rgb(246, 249, 252);
	display: flex;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.whats-inside-header {
	padding: 1.28rem 0 0.72rem 0;
	padding-top: 0;
	padding-bottom: 0;
}

/* product-list */

.product-list .product-name {
	font-size: 1rem;
}

.product-list-title {
	margin-bottom: 1rem;
}

.products-row-1 {
	margin-bottom: 1.28rem !important;
}
.why-should-you-care {
	background: #0a2540;
	color: hsla(0, 0%, 90%, 1);
	display: flex;
	align-items: center;
}
.why-should-you-care-title,
.products-title {
	text-align: center;
}
.reasons {
	margin-top: 1rem;
}
.why-should-you-care-content {
	justify-content: center;
}
.product {
	background: #fafafa;
	display: flex;
	align-items: center;
}
.product .container .columns {
	justify-content: center;
}
.level-item {
	flex-shrink: 1;
}

.price {
	display: block;
	margin: 0;
	font-weight: 700;
}
/* this is a duplicate style. TODO: combain this */

.buy-now {
	color: #fff;
	background: rgb(82, 113, 255);
	border: none;
	padding: 0.48rem;
	font-weight: 700;
	cursor: pointer;
	width: 100%;
	margin-top: 0.7rem;
	padding: 0;
	padding-top: 0;
	font-size: 0.7rem;
}
.product-box-wrapper {
	box-shadow: 0.04rem 0.04rem 0.48rem rgba(0, 0, 0, 0.1);
	/* background: hsla(0, 0%, 90%, 1); */
	border-radius: 0.12rem;
	padding: 0.7rem;
}

.products-title {
	/* color: hsla(0, 0%, 90%, 1); */
}

.product-alternate {
	/* background: #0a2540; */
	/* background: hsl(210 73% 22%); */
	/* background: #0a2540; */
}

.kku-footer {
	/* background: rgb(246, 249, 252); */
	background: #0a2540;
	color: hsla(0, 0%, 90%, 1);
	text-align: center;
}

.kku-footer a:hover {
	color: hsl(217 71% 57% / 1);
}

.footer-title {
	color: hsla(0, 0%, 90%, 1);
}

.last {
	padding-bottom: 4rem;
}

.why-should-you-care-section {
	padding-bottom: 0;
}

.product-title {
	font-weight: 700;
	line-height: 1.3;
}

.the-cause-wrapper {
	justify-content: center;
}

.the-cause-description {
	opacity: 0.5;
	text-align: center;
	font-style: italic;
	line-height: 1.6;
	font-size: 0.8rem;
}

.social span.icon {
	color: hsla(0, 0%, 90%, 1);
}

.expand-icon {
	display: none;
}

.navbar-brand {
	align-items: center;
	margin-left: 0 !important;
}

.landing-content .container.page {
	display: flex;
	flex-direction: column;
}

.landing-content .main-content {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.product-edition {
	font-weight: 400;
	font-size: 0.7rem !important;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* purgecss ignore */
#essentials-pack-tags,
#for-babies-pack-tags,
#premium-pack-tags {
	display: none;
}

.tags {
	margin: 0.5rem 0 !important;
}

.tags .tag {
	font-size: 0.5rem !important;
	margin-bottom: 0.3rem !important;
}

.tags .tag:not(:last-child) {
	margin-right: 0.3rem !important;
}

.home-image img {
	object-fit: cover;
	max-height: 80vh;
}

.hero-title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.1;
}

.navbar-item {
	font-weight: 700;
	font-size: 0.7rem;
}

figure.home-image {
	position: relative;
	/* placed for fixing a safari bug */
	display: flex;
}

figure.home-image img,
.image-overlay {
	border-radius: 0.3rem;
	padding: 0.5rem;
}

.image-overlay {
	display: none;
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	opacity: 0.5;
}

.see-products-button {
	margin-top: 1.5rem;
}

.product-edition span.icon {
	padding-left: 0.5rem;
	cursor: pointer;
}

.product-edition > span {
	position: relative;
}

.tooltip {
	font-size: 0.5rem !important;
	margin-bottom: 0.5rem;
}

.hero-text {
	margin-top: 1rem;
}

.people-images-header h1 {
	text-align: center;
}

.product-title {
	margin-top: 0.5rem;
}

.giveaway {
	background: #f5f5f5;
	display: flex;
}

.giveaway-content {
	background: #5c7efa;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	height: 100%;
}

.giveaway-wrapper {
	padding: 4.2em 2.5rem;
}

.giveaway-title {
	font-size: 2rem;
	line-height: 2.2rem;
}

.giveaway-title span {
	display: block;
}

.giveaway-text {
	margin-top: 1rem;
	font-size: 1.3rem;
}

.giveaway-text strong {
	color: #fff;
}

.giveaway-button {
	cursor: pointer;
	font-size: 1rem;
	margin-top: 1.5rem;
	width: 100%;
	padding: 0.6rem;
	background: #374886;
	color: #fff;
	border: 0;
	font-weight: 700;
}

.giveaway-content .columns {
	margin-left: 0;
	margin-right: 0;
	height: 100%;
}

.giveaway .section,
.giveaway-wrapper {
	height: 100%;
}

.giveaway h1 {
	font-weight: 700;
}

.columns {
	margin-top: 0;
	margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.bottom-message {
		padding: 12px;
		padding-bottom: 1rem;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
	}

	.bottom-message-content {
		margin-left: auto;
	}

	.bottom-message .text {
		margin-top: 0.5rem;
		/* order: 2; */
	}

	.bottom-message .cta {
		margin-top: 1rem;
	}

	.cta a {
		width: 100%;
		margin: 0;
		display: inline-block;
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	.bottom-message-content {
		display: flex;
		align-items: center;
		margin-left: auto;
	}
}

@media only screen and (max-width: 1024px) {
	.kku-title-size-1 {
		font-size: 1.6rem;
	}

	.product-box {
		margin: 1rem;
	}

	.footer-actions a {
		display: block;
	}

	.image-overlay {
		display: block;
	}

	.landing-content-description {
		max-width: 100%;
	}

	.buttons {
		justify-content: center;
	}

	.buttons button {
		width: 100%;
		margin-right: 0px !important;
	}

	#landing-image {
		order: 0;
	}

	.columns {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0 !important;
	}

	.kku-footer {
		font-size: 0.8rem;
	}

	.products-section {
		padding: 0px !important;
	}

	.products-title {
		font-size: 1.1rem;
	}

	.landing-content-cta .button {
		display: flex;
		width: 100%;
	}

	/* .landing-content {
		padding: 1rem;
	} */

	.image-column {
		order: 2;
	}

	.image-description {
		order: 1;
		color: #fff;
	}

	.hero-text {
		font-size: 0.8rem;
		line-height: 1.4;
	}

	.hero-title {
		font-size: 1.3rem;
	}

	.see-products-button {
		margin-top: 0.7rem;
	}

	.landing-content .left {
		order: 1;
	}

	.landing-content .right {
		margin-left: 0px;
		padding: 1rem 2rem;
	}

	.main-content {
		display: flex;
		flex-direction: column;
		background: rgb(246, 249, 252);
		border-radius: 20px;
		position: relative;
		justify-content: flex-end;
	}

	.image-description {
		position: absolute;
	}

	.product-list {
		display: none;
	}

	.product-list-column {
		padding-top: 0;
		padding-bottom: 0;
	}

	.product-list-column {
		margin-bottom: 2rem;
	}

	.product-list {
		margin-bottom: 1rem;
	}

	.product-list li {
		padding-left: 1rem;
	}

	.expand-icon {
		display: initial;
	}

	.navbar-brand {
		padding-left: 0.5rem;
	}

	.people-images .columns .column {
		padding: 0;
		padding-right: 0.5rem;
	}

	.people-images {
		padding: 0.5rem;
	}

	.people-images-header {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.whats-inside {
		padding-bottom: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.people-images-header {
		font-size: 1.4rem;
		margin-bottom: 1rem;
	}

	.giveaway-right {
		margin-left: 2rem;
	}
}
